.popup__text {
  margin-bottom: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
  padding: 0 0 13px;
}

.popup__text:focus {
  outline: none;
  border: 3px solid #a0b8ea;
}

@media screen and (max-width:470px) {
  .popup__text {
    font-size: 12px;
    line-height: 15px;
  }
}
