.header__logo {
  width: 142.01px;
  height: 33.4px;
  object-fit: cover;
  margin: 45px 0 37px;
}

@media screen and (max-width: 570px) {
  .header__logo{
    margin: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
