.form {
  width: 358px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 470px) {
  .popup__form {
    width: 75%;
  }

}
